@media (max-width: 1210px){
    .services__item-bottom {
        margin: 0px -10px;
    }
}
@media (max-width: 1200px){
    .portfolio__item:hover{
        box-shadow: none;
         -webkit-transform: none;
         -ms-transform: none;
         transform: none;
    }   
}
@media (max-width: 1160px){
    .top__title{
        font-size: 80px;
    }
    .services__item-bottom {
        margin: 0px;
    }   
}
@media (max-width: 1060px){
    .top__title{
        font-size: 70px;
    }
    .about__items{
        display: block;
    }
    .about__item img{
        margin-top: 30px;
    }
   
}
@media (max-width: 922px){
    .top__images{
        display: none;
    }
    .col-top-12{
        width: 100%;
    }
    .top__content{
        padding-top: 30%;
    }
    .skills__images{
        padding-bottom: 40px;
    }
    .ptoject__items{
        display: block;
        padding-bottom: 70px;

    }
   
}
@media (max-width: 830px){
    .form__box-message{
        margin-right: 30px;
    }
}
@media (max-width: 770px){
    .btn__menu{
        display: block;
        text-align: right;
        position: relative;
    }
    .menu{
        width: 100%;
        text-align: center;
        & ul{
            display: none;
            position: absolute; 
            width: 100%;
            z-index: 15;
            top: 60px;
        }
        & li{
            position: relative;
            display: block;
            right: 20px;   
        }
        & a{
            display: block;
            padding: 8px 0;
            background-color: #ccc;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
        }
        & li+li{
            padding-left: 0;
        }
    }
    .services__items{
        display: block;
        padding-top: 0;
        padding-bottom: 30px;
    }
    .services__item{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .services__text{
        text-align: center;
        margin: 0 auto;   
    }
    .services__item-four{
        margin-top: -30;
    }
    .portfolio__items{
        display: block;
    }
    .footer__copy{
        display: block;
    }
    .footer__sosial{
        position: relative;
        text-align: center;
        top: 20px;
        min-height: 100px;
    }
}
@media (max-width: 600px){
    .title{
       padding-top: 85px;
       &:before{
        top: 70px;
        }
    } 
    .skills__images{
        padding-bottom: 0px;
    }
    .slider__item{
        display: block;
    }
    .slider__box{
        padding-top: 25px;
    }
}

@media (max-width: 465px){
    .top__title{
        font-size: 45px;
        margin-top: 30px;
    }
    .top__text{
        font-size: 16px;
    }
    .slider .title{
        font-size: 34px;
    }
    .form__box-inner{
        display: block;
    }  
}
@media (max-width: 450px){
    .form__box-message{
        margin-right: 0px;
    }
}




@media (min-width: 770px){
    .menu ul{
        display: block !important;
    }
}