@import '_vars';

*{
  box-sizing: border-box; 
  margin: 0;
  padding: 0; 
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;  
}
.row{
    margin-left: -15px;
    margin-right: -15px;
    &:after{
        content: "";
        display: block;
        clear: both;
    }
}
.col-6{
    width: 50%;
    float: left;
    padding: 0px 15px;
}
body{
    font-family: 'Asap', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
a{
    text-decoration: none;
}
.header{
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }
}
.menu{
    position: relative;
    & li{
        display: inline-block;
        &+li{
            padding-left: 30px;
            }
        a{
            text-transform: uppercase;
            color: $text;
            &:hover{
                text-transform: capitalize;
                text-decoration: underline;
            }
        }
    }
}

.home{
    position: absolute; 
    right: 415px;
}
.about__us{
    position: absolute;
    right: 325px;  
}
.service{
    position: absolute;
    right: 230px;
}
.portfolios{
    position: absolute;
    right: 110px;
}
.contact{
    position: absolute; 
    right: 0;   
}

.top{
    background-image: url(../img/fon-header.jpg);
    background-size: cover;
    min-height: 750px;
    background-repeat: no-repeat;  
    &__content{
        padding-top: 40%;
    } 
    &__title{
        font-size: 90px;
        font-weight: 500;
        color: $text;
        margin-bottom: 5px;
    }
    &__text{
        font-size: 22px;
        color: $grey;
        font-weight: 500;
    }
    &__buttons{
        a{
            font-size: 15px;
            color: $text;
            outline: 1px solid $text;
            font-weight: 500;
            padding: 15px 35px;
            margin-right: 20px;
            margin-top: 10px;
            display:inline-block;
            width: 160px;
            text-align:center;
            transition: all 0.3s;
            &:hover{
                outline: none;
                background-color: #fff;
                font-weight: 400;
                box-shadow: 0 0 15px rgba(0,0,0,0.5);
            }
        }
    } 
    &__images{
        padding-top: 116px;   
    }  
}
.top__togo {
    position: absolute;
    left: 100px;
    bottom: 88px;
    & a{
        display: inline-block;
        width: 45px;
        height: 45px;
        background-color: #fff;
        position: relative;
        &:hover{
            box-shadow: 0 0 15px rgba(0,0,0,0.5); 
        }
        &:before{
            content: "\f106";
            font-family: 'icomoon';
            position: absolute;
            font-size: 24px;
            color: $text;
            transform: rotate(180deg);
            top: 10px;
            right: 14px;
        }
    }
}

.title{
    text-align: center;
    padding-top: 140px;
    font-size: 46px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: $title;
    font-weight: 700;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        width: 60px;
        height: 4px;
        background-color: $line;
        top: 130px;
        right: 47%;
        z-index: 2;
    } 
}
.about{
    min-height: 675px; 
    & .title{
        text-align: left;
        padding-top: 90px;
        max-width: 470px;
        &:before{
            top: 80px;
            left: 0;
        } 
    } 
    &__items{
        display: flex;
        justify-content: space-between;
        padding-top: 90px;
        padding-bottom: 125px;
    }
    &__text{
        line-height: 26px;
        padding-bottom: 40px;
        max-width: 470px;
    }
    &__btn{
        a{
            text-transform: uppercase;
            letter-spacing: .6px;
            color: $text;
            font-weight: 500;
            border: 1px solid $text;
            line-height: 67px;
            padding: 17px 50px;
        }
    }
}

.services{
    background-color: $fon;
    min-height: 690px;
    &__items{
        display: flex;
        justify-content: space-between;
        padding-top: 70px;  
        text-align: center;
    }
    &__text{
        padding-top: 20px;
        max-width: 210px;
        font-size: 24px;
        font-weight: 500;
        color: $text;
    }
    &__item-bottom{
        margin: 0 -30px;  
    }
}

.skills__images{
    padding: 60px 0px 120px;
    min-height: 414px;
    text-align: center;
}

.portfolio{
    background-color: $fon;
    position: relative;
    & .title{
        padding-bottom: 15px;
    }
    &__items{
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }
    &__item{
        margin-left: 5px;
        margin-right: 5px;
        position: relative;
        &:hover{
         box-shadow: 0 0 15px rgba(0,0,0,0.5);
         -webkit-transform: scale(1.2);
         -ms-transform: scale(1.2);
         transform: scale(1.2);
         }  
     }
    &__btn{
        text-align: center;
        padding-bottom: 120px;
        padding-top: 30px;
        & a{
            text-align: center;
            text-transform: uppercase;
            letter-spacing: .6px;
            color: $text;
            font-weight: 500;
            border: none;
            line-height: 67px;
            padding: 15px 46px 15px 46px;
            background-color: #fff;
            &:hover{
                box-shadow: 0 0 15px rgba(0,0,0,0.5);
            }  
        }
    }
}
.item__btn{
    position: absolute;
    top: 132px;
    right: 155px; 
    &__btn a{
        display: inline-block;
        height: 55px;
        width: 55px;
        background-color: #fff;
    }
}
.item__btn a:before{
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    font-size: 27px;
    color: #000;
    top: 10;
    right: 20;
}

.slider{
    min-height: 713px;
    &__items{
        border: 1px solid $slider; 
        padding-bottom: 40px; 
    }
    &__item{
        display: flex;
        justify-content: space-between;    
    }
    &__box{
        padding-left: 30px;
        padding-top: 80px;
    }
    &__title{
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        color: $slider;
    }
    &__position{
        font-size: 12px;
        text-transform: uppercase;
        color: $slider;
        font-weight: 500;
        font-style: italic;
    }
    &__text{
        color: $grey;
        text-transform: uppercase;
        line-height: 26px;
        padding: 20px 70px 60px 0px;
    }
}
.slider__items .slick-dots{
    text-align: center;
}
.slider__items .slick-dots li{
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}
.slider__items .slick-dots li button{
    font-size: 0;
    width: 13px;
    height: 13px;
    background-color: $slider;
    padding: 0;
    border: 1px solid $slider;
    outline: none;
}
.slider__items .slick-dots li.slick-active button{
    border: 1px solid $slider;
    background-color: transparent;
}
.slider .title{
    padding-bottom: 60px;
}



.project{
    padding-bottom: 150px;
    &__grey{
        background-color: $fon;
        min-height: 300px;
    }
    &__item{
        text-align: center;    
    }
    &__numeral{
        font-size: 30px;
        font-weight: 500;
        line-height: 32px;
        color: #444;
        padding-top: 20px; 
    }
    &__text{
        font-size: 22px;
        line-height: 32px;
        color: #444;
        text-transform: uppercase;   
    }  
}
.ptoject__items{
    display: flex;
    justify-content: space-between;   
}
.desctop{
    padding-top: 50px;
}
.smile,
.paper{
    padding-top: 72px;
}
.cup{
    padding-top: 70px; 
}

.footer{
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 787px;
    position: relative;
    & .title{
        color: #fff;
        padding-bottom: 70px;
        &:before{
            background-color: #fff;
        }
    }
}
.form__box{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    max-width: 770px;
    &-inner{
        display: flex;
         justify-content: space-between;
         max-width: 770px;
        width: 100%;
        margin: 0 auto; 
        & input{
            height: 60px;
            width: 100%;
            outline: none;
            margin: 0px 15px 28px 15px;
            padding-left: 12px;
            padding-right: 12px;
            font-size: 16px;
            color: $text;
        } 
    }
}
textarea{
    height: 207px;
    width: 100%;
    outline: none;
    margin: 0px 15px 28px 15px;
    padding: 25px 12px;
    resize: none;
    font-size: 16px;
    color: $text;
    max-width: 740px;
}
.form__box-btn button{
    padding: 17px 28px 13px 34px;
    letter-spacing: 0.6px;
    color: $text;
    font-weight: 500;
    margin-bottom: 60px;
    cursor: pointer;
}
.footer__copy{
    min-height: 85px;
    border-top: 1px solid #fff;  
    position: relative; 
    &-text{
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        letter-spacing: 0.6px;
        font-weight: 500;
        padding-top: 30px;
        text-align: center;
        position: relative;    
    }
}
.footer__sosial{
    position: absolute;
    top: 25px;
    & a{
        position: relative;
    }
    & li{
        height: 28px;
        width: 28px;
        background-color: #fff;
        padding-left: 8px;
        padding-right: 8px;
        display: inline-block;
        &:hover{
            background-color: #0084b4;
        }
    }
}

.footer__sosial a:after{
    content: "\f09a";
    color: $text;
    font-family: 'icomoon';
    margin: 0 3px;
    line-height: 28px;
    font-size: 15px;
}

.footer__sosial .twitter:after{
    content: "\f099";
    margin: 0;
}
.footer__sosial .linkedin:after{
    content: "\f0e1";
    margin: 0 1px;
}
.footer__sosial .google:after{
    content: "\f0d5";
    margin: 0 -3px;
}
.footer__sosial .behance:after{
    content: "\f1b4";
    margin: 0 -1px;
}
.footer__sosial .dribbble:after{
    content: "\f17d";
    margin: 0;
}
li:hover a:after{
    color: #fff;
}

.go__to-home{
    position: absolute;
    bottom: 25%;
    right: 27px;
    & a{
        display: inline-block;
          height: 45px;
          width: 45px;
          background-color: #fff;
          bottom: 25%;
          right: 27px;
          &:hover{
            box-shadow: 0 0 15px rgba(0,0,0,0.5); 
        } 
        &:before{
            content: "\f106";
            font-family: 'icomoon';
            position: absolute;
            font-size: 24px;
            color: $text;
            top: 7px;
            right: 14px;
        } 
    }   
}


























