* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row:after {
  content: "";
  display: block;
  clear: both;
}

.col-6 {
  width: 50%;
  float: left;
  padding: 0px 15px;
}

body {
  font-family: 'Asap', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.header {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
}

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}

.menu {
  position: relative;
}

.menu li {
  display: inline-block;
}

.menu li + li {
  padding-left: 30px;
}

.menu li a {
  text-transform: uppercase;
  color: #4d4d4d;
  font-size: 16px;
}

.menu li a:hover {
  text-transform: capitalize;
  text-decoration: underline;
}

.home {
  position: absolute;
  right: 415px;
}

.about__us {
  position: absolute;
  right: 325px;
}

.service {
  position: absolute;
  right: 230px;
}

.portfolios {
  position: absolute;
  right: 110px;
}

.contact {
  position: absolute;
  right: 0;
}

.top {
  background-image: url(../img/fon-header.jpg);
  background-size: cover;
  min-height: 750px;
  background-repeat: no-repeat;
}

.top__content {
  padding-top: 40%;
}

.top__title {
  font-size: 90px;
  font-weight: 500;
  color: #4d4d4d;
  margin-bottom: 5px;
}

.top__text {
  font-size: 22px;
  color: #9a9a9a;
  font-weight: 500;
}

.top__buttons a {
  font-size: 15px;
  color: #4d4d4d;
  outline: 1px solid #4d4d4d;
  font-weight: 500;
  padding: 15px 35px;
  margin-right: 20px;
  margin-top: 10px;
  display: inline-block;
  width: 160px;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.top__buttons a:hover {
  outline: none;
  background-color: #fff;
  font-weight: 400;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.top__images {
  padding-top: 116px;
}

.top__togo {
  position: absolute;
  left: 100px;
  bottom: 88px;
}

.top__togo a {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: #fff;
  position: relative;
}

.top__togo a:hover {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.top__togo a:before {
  content: "\f106";
  font-family: 'icomoon';
  position: absolute;
  font-size: 24px;
  color: #4d4d4d;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 10px;
  right: 14px;
}

.title {
  text-align: center;
  padding-top: 140px;
  font-size: 46px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #717171;
  font-weight: 700;
  position: relative;
}

.title:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #7a7a7a;
  top: 130px;
  right: 47%;
  z-index: 2;
}

.about {
  min-height: 675px;
}

.about .title {
  text-align: left;
  padding-top: 90px;
  max-width: 470px;
}

.about .title:before {
  top: 80px;
  left: 0;
}

.about__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 90px;
  padding-bottom: 125px;
}

.about__text {
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 40px;
  max-width: 470px;
}

.about__btn a {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .6px;
  color: #4d4d4d;
  font-weight: 500;
  border: 1px solid #4d4d4d;
  line-height: 67px;
  padding: 17px 50px;
}

.services {
  background-color: #f6f6f6;
  min-height: 690px;
}

.services__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px;
  text-align: center;
}

.services__text {
  padding-top: 20px;
  max-width: 210px;
  font-size: 24px;
  font-weight: 500;
  color: #4d4d4d;
}

.services__item-bottom {
  margin: 0 -30px;
}

.skills__images {
  padding: 60px 0px 120px;
  min-height: 414px;
  text-align: center;
}

.portfolio {
  background-color: #f6f6f6;
  position: relative;
}

.portfolio .title {
  padding-bottom: 15px;
}

.portfolio__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}

.portfolio__item {
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
}

.portfolio__item:hover {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.portfolio__btn {
  text-align: center;
  padding-bottom: 120px;
  padding-top: 30px;
}

.portfolio__btn a {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .6px;
  color: #4d4d4d;
  font-weight: 500;
  border: none;
  line-height: 67px;
  padding: 15px 46px 15px 46px;
  background-color: #fff;
}

.portfolio__btn a:hover {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.item__btn {
  position: absolute;
  top: 132px;
  right: 155px;
}

.item__btn__btn a {
  display: inline-block;
  height: 55px;
  width: 55px;
  background-color: #fff;
}

.item__btn a:before {
  content: "\f105";
  font-family: 'icomoon';
  position: absolute;
  font-size: 27px;
  color: #000;
  top: 10;
  right: 20;
}

.slider {
  min-height: 713px;
}

.slider__items {
  border: 1px solid #212121;
  padding-bottom: 40px;
}

.slider__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__box {
  padding-left: 30px;
  padding-top: 80px;
}

.slider__title {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #212121;
}

.slider__position {
  font-size: 12px;
  text-transform: uppercase;
  color: #212121;
  font-weight: 500;
  font-style: italic;
}

.slider__text {
  font-size: 16px;
  color: #9a9a9a;
  text-transform: uppercase;
  line-height: 26px;
  padding: 20px 70px 60px 0px;
}

.slider__items .slick-dots {
  text-align: center;
}

.slider__items .slick-dots li {
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

.slider__items .slick-dots li button {
  font-size: 0;
  width: 13px;
  height: 13px;
  background-color: #212121;
  padding: 0;
  border: 1px solid #212121;
  outline: none;
}

.slider__items .slick-dots li.slick-active button {
  border: 1px solid #212121;
  background-color: transparent;
}

.slider .title {
  padding-bottom: 60px;
}
