* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row:after {
  content: "";
  display: block;
  clear: both;
}

.col-6 {
  width: 50%;
  float: left;
  padding: 0px 15px;
}

body {
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.header {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
}

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}

.menu {
  position: relative;
}

.menu li {
  display: inline-block;
}

.menu li + li {
  padding-left: 30px;
}

.menu li a {
  text-transform: uppercase;
  color: #4d4d4d;
}

.menu li a:hover {
  text-transform: capitalize;
  text-decoration: underline;
}

.home {
  position: absolute;
  right: 415px;
}

.about__us {
  position: absolute;
  right: 325px;
}

.service {
  position: absolute;
  right: 230px;
}

.portfolios {
  position: absolute;
  right: 110px;
}

.contact {
  position: absolute;
  right: 0;
}

.top {
  background-image: url(../img/fon-header.jpg);
  background-size: cover;
  min-height: 750px;
  background-repeat: no-repeat;
}

.top__content {
  padding-top: 40%;
}

.top__title {
  font-size: 90px;
  font-weight: 500;
  color: #4d4d4d;
  margin-bottom: 5px;
}

.top__text {
  font-size: 22px;
  color: #9a9a9a;
  font-weight: 500;
}

.top__buttons a {
  font-size: 15px;
  color: #4d4d4d;
  outline: 1px solid #4d4d4d;
  font-weight: 500;
  padding: 15px 35px;
  margin-right: 20px;
  margin-top: 10px;
  display: inline-block;
  width: 160px;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.top__buttons a:hover {
  outline: none;
  background-color: #fff;
  font-weight: 400;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.top__images {
  padding-top: 116px;
}

.top img {
  max-width: 100%;
  width: 100%;
}

.top__togo {
  position: absolute;
  left: 100px;
  bottom: 20%;
}

.top__togo a {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: #fff;
  position: relative;
}

.top__togo a:hover {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.top__togo a:before {
  content: "\f106";
  font-family: 'icomoon';
  position: absolute;
  font-size: 24px;
  color: #4d4d4d;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 10px;
  right: 14px;
}

.title {
  text-align: center;
  padding-top: 140px;
  font-size: 46px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #717171;
  font-weight: 700;
  position: relative;
}

.title:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #7a7a7a;
  top: 130px;
  right: 47%;
  z-index: 2;
}

.about {
  min-height: 675px;
}

.about .title {
  text-align: left;
  padding-top: 90px;
  max-width: 470px;
}

.about .title:before {
  top: 80px;
  left: 0;
}

.about__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 90px;
  padding-bottom: 125px;
}

.about__text {
  line-height: 26px;
  padding-bottom: 40px;
  max-width: 470px;
}

.about__btn a {
  text-transform: uppercase;
  letter-spacing: .6px;
  color: #4d4d4d;
  font-weight: 500;
  border: 1px solid #4d4d4d;
  line-height: 67px;
  padding: 17px 50px;
}

.about__item img {
  max-width: 100%;
  width: 100%;
}

.services {
  background-color: #f6f6f6;
  min-height: 690px;
}

.services__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px;
  text-align: center;
}

.services__text {
  padding-top: 20px;
  max-width: 210px;
  font-size: 24px;
  font-weight: 500;
  color: #4d4d4d;
}

.services__item-bottom {
  margin: 0 -30px;
}

.skills__images {
  padding: 60px 0px 120px;
  min-height: 414px;
  text-align: center;
}

.skills__images img {
  max-width: 100%;
  width: 100%;
}

.portfolio {
  background-color: #f6f6f6;
  position: relative;
}

.portfolio .title {
  padding-bottom: 15px;
}

.portfolio__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}

.portfolio__item {
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
}

.portfolio__item img {
  max-width: 100%;
  width: 100%;
}

.portfolio__item:hover {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.portfolio__btn {
  text-align: center;
  padding-bottom: 120px;
  padding-top: 30px;
}

.portfolio__btn a {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .6px;
  color: #4d4d4d;
  font-weight: 500;
  border: none;
  line-height: 67px;
  padding: 15px 46px 15px 46px;
  background-color: #fff;
}

.portfolio__btn a:hover {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.item__btn {
  position: absolute;
  top: 132px;
  right: 155px;
}

.item__btn__btn a {
  display: inline-block;
  height: 55px;
  width: 55px;
  background-color: #fff;
}

.item__btn a:before {
  content: "\f105";
  font-family: 'icomoon';
  position: absolute;
  font-size: 27px;
  color: #000;
  top: 10;
  right: 20;
}

.slider {
  min-height: 713px;
}

.slider__items {
  border: 1px solid #212121;
  padding-bottom: 40px;
}

.slider__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__box {
  padding-left: 30px;
  padding-top: 80px;
}

.slider__title {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #212121;
}

.slider__position {
  font-size: 12px;
  text-transform: uppercase;
  color: #212121;
  font-weight: 500;
  font-style: italic;
}

.slider__text {
  color: #9a9a9a;
  text-transform: uppercase;
  line-height: 26px;
  padding: 20px 70px 60px 0px;
}

.slider__items .slick-dots {
  text-align: center;
}

.slider__items .slick-dots li {
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

.slider__items .slick-dots li button {
  font-size: 0;
  width: 13px;
  height: 13px;
  background-color: #212121;
  padding: 0;
  border: 1px solid #212121;
  outline: none;
}

.slider__items .slick-dots li.slick-active button {
  border: 1px solid #212121;
  background-color: transparent;
}

.slider .title {
  padding-bottom: 60px;
}

.project {
  padding-bottom: 150px;
}

.project__grey {
  background-color: #f6f6f6;
  min-height: 300px;
}

.project__item {
  text-align: center;
}

.project__numeral {
  font-size: 30px;
  font-weight: 500;
  line-height: 32px;
  color: #444;
  padding-top: 20px;
}

.project__text {
  font-size: 22px;
  line-height: 32px;
  color: #444;
  text-transform: uppercase;
}

.ptoject__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.desctop {
  padding-top: 50px;
}

.smile,
.paper {
  padding-top: 72px;
}

.cup {
  padding-top: 70px;
}

.footer {
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 787px;
  position: relative;
}

.footer .title {
  color: #fff;
  padding-bottom: 70px;
}

.footer .title:before {
  background-color: #fff;
}

.form__box {
  text-align: center;
  padding: 0 15px 0 15px;
}

.form__box-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
}

.form__box-inner input {
  height: 60px;
  width: 100%;
  outline: none;
  margin: 0px 15px 28px 15px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 16px;
  color: #4d4d4d;
  max-width: 365px;
}

textarea {
  height: 207px;
  width: 100%;
  outline: none;
  margin: 0px 15px 28px 15px;
  padding: 25px 12px;
  resize: none;
  font-size: 16px;
  color: #4d4d4d;
  max-width: 740px;
  width: 100%;
}

.form__box-btn button {
  padding: 17px 28px 13px 34px;
  letter-spacing: 0.6px;
  color: #4d4d4d;
  font-weight: 500;
  margin-bottom: 60px;
  cursor: pointer;
}

.footer__copy {
  min-height: 85px;
  border-top: 1px solid #fff;
  position: relative;
}

.footer__copy-text {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  letter-spacing: 0.6px;
  font-weight: 500;
  padding-top: 30px;
  text-align: center;
  position: relative;
}

.footer__sosial {
  position: absolute;
  top: 25px;
}

.footer__sosial a {
  position: relative;
}

.footer__sosial li {
  height: 28px;
  width: 28px;
  background-color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  display: inline-block;
}

.footer__sosial li:hover {
  background-color: #0084b4;
}

.footer__sosial a:after {
  content: "\f09a";
  color: #4d4d4d;
  font-family: 'icomoon';
  margin: 0 3px;
  line-height: 28px;
  font-size: 15px;
}

.footer__sosial .twitter:after {
  content: "\f099";
  margin: 0;
}

.footer__sosial .linkedin:after {
  content: "\f0e1";
  margin: 0 1px;
}

.footer__sosial .google:after {
  content: "\f0d5";
  margin: 0 -3px;
}

.footer__sosial .behance:after {
  content: "\f1b4";
  margin: 0 -1px;
}

.footer__sosial .dribbble:after {
  content: "\f17d";
  margin: 0;
}

li:hover a:after {
  color: #fff;
}

.go__to-home {
  position: absolute;
  bottom: 25%;
  right: 27px;
}

.go__to-home a {
  display: inline-block;
  height: 45px;
  width: 45px;
  background-color: #fff;
  bottom: 25%;
  right: 27px;
}

.go__to-home a:hover {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.go__to-home a:before {
  content: "\f106";
  font-family: 'icomoon';
  position: absolute;
  font-size: 24px;
  color: #4d4d4d;
  top: 7px;
  right: 14px;
}

.btn__menu {
  display: none;
  font-size: 20px;
  color: #4d4d4d;
}
